* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  padding-top: 90px;
}

main {
  height: calc(100vh - 175px);
}

.header-main {
  height: 75px;
  width: 100%;
  border: 1px solid black;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 10;
}

main {
  width: 960px;
  margin: auto;
}

main h1 {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  padding: 10px 0;
}

.side-stats {
  border: 1px solid black;
  float: left;
  height: 500px;
  width: 20%;
  margin-left: 10px;
  margin-top: 30px;
}

.side-stats h1 {
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#prod-container {
  border: 1px solid black;
  height: 500px;
  width: 75%;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  /* float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start; */
  z-index: -1;
}

#prod-container h1 {
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#prod-container img {
  border: 1px solid black;
  height: 210px;
  width: 210px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

#prod-container img:hover {
  border: 5px solid black;
}

section div {
  text-align: center;
  visibility: hidden;
  margin: auto;
  padding: 20px;
  background-color: red;
  color: white;
  font-size: 1.5em;
}

.footer-main {
  height: 75px;
  background-color: #444;
  z-index: 10;
}

.footer-main nav a {
  text-decoration: none;
  color: #aaa;
}

.footer-main nav a:hover {
  color: #DAB37E;
  border-bottom: 5px solid #DAB37E;
}

.footer-main li {
  display: inline-block;
  line-height: 75px;
  margin-left: 90px;
  font-weight: bold;
}

.footer-main li:first-child {
  margin-left: 30px;
}
